<!DOCTYPE html>
<html>
<%- include header %>
  <body>
    <div id="example" >444</div>
  <script type="text/babel">
    const MouseMove = React.createClass( {
      getInitialState: function() {
        return {x: 0, y: 0};
      },

      handler: function(event) {
        this.setState({x: event.pageX, y: event.pageY});
      },
      render: function() {
        return (
          <div onMouseMove={this.handler} style={{width: '100%', height: '500px', backgroundColor: 'gray', color: '#fff'}}>
            <h1>{"横坐标:" + this.state.x + "纵坐标:" + this.state.y}</h1>
          </div>
        )
      },
    });

   ReactDOM.render(
     <MouseMove  />,
     document.getElementById("example"));


  </script>

  </body>
</html>
