<!DOCTYPE html>
<html>
<%- include header %>
  <body>
    <div id="example" >444</div>
  <script type="text/babel">

  const Dianzan = React.createClass({
    render: function() {
      return (
        <div>
            <button>
                <span className="N"></span>
            </button>
        </div>
      )
    }
  });

   ReactDOM.render(
     <Dianzan  />,
     document.getElementById("example"));
  </script>

  </body>
</html>
